*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@font-face {
    font-family: Khmer Mn;
    src: url(../../../public/assets/fonts/Khmer\ MN.ttc);
}

.container{
    max-width : 1140px;
    padding: 0 24px;
    margin: auto; 
}

.reg-container{
    max-width: 447px;
    padding: 0 24px;
    margin: auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Cardo', serif;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}