@mixin flex-all ($f-d:null, $f-w:null, $f-j:null, $f-a:null){
    display: flex;
    flex-direction: $f-d;
    flex-wrap: $f-w;
    justify-content: $f-j;
    align-items: $f-a;
}
@mixin img-size($obj:null){
    @extend %f-size;
    object-fit: $obj;
}